.footer {
  background: var(--clr-grey-1);
  color: var(--clr-grey-4);
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-family: var(--ff-secondary);
  font-weight: 400;
}

.footer ul {
  list-style: none;
}

.grid {
  padding: 1rem;
  max-width: var(--maxWidth);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'phone address'
    'mail address'
    'info links';
  align-items: start;
}

.phone {
  grid-area: phone;
}
.phone h3 {
  margin: 0;
}
.phone span {
  font-size: 1.5rem;
  vertical-align: middle;
  line-height: 2;
  font-weight: 400;
}
.phoneClick {
  color: var(--clr-grey-4);
}
.phoneClick:hover {
  color: var(--clr-primary);
}

.mail {
  grid-area: mail;
}
.mail a {
  color: var(--clr-grey-4);
}
.mail a:hover {
  color: var(--clr-primary);
}
.mail span {
  font-size: 1.3rem;
  font-weight: 400;
  vertical-align: middle;
  line-height: 2;
}

.address {
  grid-area: address;
  margin: 0;
  padding: 0;
}
.address ul {
  margin: 0;
  padding: 0;
}
.heading {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2;
}

.icons {
  grid-area: icons;
  align-self: center;
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
}
.icon {
  font-size: 2rem;
  margin: 0 0.4rem;
  transition: var(--transition);
  color: var(--clr-grey-5);
  line-height: 0;
}
.icon:hover {
  transform: translateY(-10%);
}
.info {
  grid-area: info;
  align-self: end;
}
.info a {
  color: var(--clr-grey-4);
}
.info a:hover {
  color: var(--clr-primary);
}

.links {
  grid-area: links;
  margin: 0.5rem 0 0 0;
  padding: 0;
}
.links li {
  margin: 0;
  align-self: start;
}

.link {
  display: inline-block;
  color: var(--clr-primary);
  margin-left: 0.2rem;
  transition: var(--transition);
  text-decoration: underline;
}
.link:hover {
  color: var(--clr-primary-light);
}

.impLink {
  color: var(--clr-grey-4);
}

.impLink:hover {
  color: var(--clr-primary);
}

@media only screen and (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'phone'
      'mail'
      'address'
      'links'
      'icons'
      'info';
  }
  .address {
    margin-top: 2rem;
  }
  .links {
    margin-top: 2rem;
  }
  .icons {
    margin-top: 2rem;
  }
  .phone {
    font-size: 1rem;
  }
  .mail {
    font-size: 0.6rem;
  }
}
